        @font-face {
          font-family: 'Pally-Regular';
          src: url('/fonts/Pally-Regular.ttf') format('truetype');
          font-weight: 400;
          font-display: swap;
          font-style: normal;
        }
        @font-face {
          font-family: 'Pally-Medium';
          src: url('/fonts/Pally-Medium.ttf') format('truetype');
          font-weight: 500;
          font-display: swap;
          font-style: normal;
        }
        @font-face {
          font-family: 'Pally-Bold';
          src: url('/fonts/Pally-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
          font-style: normal;
        }
        @font-face {
          font-family: 'Pally-Variable';
          src: url('/fonts/Pally-Variable.ttf') format('truetype');
          font-weight: 400 700;
          font-display: swap;
          font-style: normal;
        }
  
        .font-regular {
            font-family: 'Pally-Regular', sans-serif;
            font-weight: 400;
            }
  
        .font-medium {
            font-family: 'Pally-Medium', sans-serif;
            font-weight: 500;
        }
  
        .font-bold {
            font-family: 'Pally-Bold', sans-serif;
            font-weight: 700;
        }
  
        .font-variable {
            font-family: 'Pally-Variable', sans-serif;
        }

        @keyframes Switch {
            0% {
                transform: translateX(488px) scale(1.638);   /* Start bei 300px */
            }
            4.55% {
                transform: translateX(-0px) scale(1.638);  /* Bewegung von 300px nach 0px in 0.5 Sekunden */
            }
            50% {
                transform: translateX(0px) scale(1.638);  /* Pause für 10 Sekunden bei 0px */
            }
            54.55% {
                transform: translateX(-488px) scale(1.638);  /* Bewegung von 0px nach -300px in 0.5 Sekunden */
            }
            100% {
                transform: translateX(-488px) scale(1.638);   /* Pause für 10 Sekunden bei -300px */
            }
        }

/* Verwende die will-change-Eigenschaft, um die Performance der Animationen zu verbessern */
.JahresStatistik, .TagesStatistik {
  will-change: transform;
}

